/* Navigation.css */

.nav-links,
.social-icons {
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-links li,
.social-icons li {
    list-style: none;
}

.nav-links li a,
.social-icons li a {
    text-decoration: none;
    padding: 0 15px;
    color: #29691e;
    font-size: 1.2em;
}

.nav-links li a.active {
    color: #ff6600;
}

.nav-links li a:hover,
.social-icons li a:hover {
    color: #ff6600;
}

.social-icons {
    margin-left: auto;
}

.social-icons li a {
    color: #29691e;
    font-size: 1.5em;
}